{% extends "learning_logs/base.html" %}
{% block content %}
   <h3>Add a New Entry</h3>
   <p>
     <a href="{% url 'learning_logs:topic' topic.id %}" 
        class="text-info" 
        style="font-size:1.3rem; font-weight:800;">
       {{ topic }}
     </a>
   </p>
   <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post">
     {% csrf_token %}
     {{ form.as_p }}
     <button type="submit" class="btn text-white" style="background-color:#17a2b8;">
       Add Entry
     </button>
   </form>
{% endblock content %}

